.checked {
    color: orange;
}

#contact-form > div {
    padding: 2%;
}

#contact-form .btn-success {
    margin-bottom: 3%;
}

.flex-row-3 {
    flex: 1 0 30%;
    margin-bottom: 0px;
}

.repository-card {
    width: 18rem;
    margin: 2%;
}