<template>
    <div class="flex-wrap d-flex align-content-around flex-row">
        <div class="card p-2 repository-card col-lg-5 col-12" v-for="data in gitLabData">
            <div class="card-body">
                <h3 class="card-title text-center"><strong>{{ data.name }}</strong></h3>
                <p class="card-text">{{ data.description }}</p>
                <a :href="data.link" target="_blank" class="btn btn-link">{{ TranslatedText }} {{ data.name }}</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
        },
        props: {
            'gitLabData': {
                required: true,
                type: Object
            },
            TranslatedText: {
                required: false,
            }
        },
        data: function() {
            return {
                TranslatedText: this.TranslatedText
            }
        },
        methods: {
        }
    }
</script>