<template>
    <div>
        <form id="contact-form" action="#" @submit="checkForm">
            <div class="row">
                <div class="col">
                    <input type="text" v-model="form.name" class="form-control" name="name" :placeholder="TranslatedText.Name" required>
                </div>
                <div class="col">
                    <input type="email" v-model="form.mail" class="form-control" name="mail" :placeholder="TranslatedText.EMail" required>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <textarea style="width: 100%" v-model="form.clientMessage" class="form-text" name="clientMessage" :placeholder="TranslatedText.Message"></textarea>
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input checked" v-model="form.confirmationMail" type="checkbox" name="confirmationMail" id="confirmationMail">
                <label class="form-check-label text-warning" for="confirmationMail">
                {{ TranslatedText.confirmationBox }}
                </label>
            </div>
            <button type="submit" class="btn-success">{{ TranslatedText.Send }}</button>
        </form>
        <div class="alert alert-info" id="contact-alert" style="display: none;">
            <strong> {{ showmessage }} </strong>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            'TranslatedText': {
                required: false,
            },
            route: {
                required: true,
            },
        },
        data: function (){
            return {
                form: {
                    mail: null,
                    name: null,
                    clientMessage: null,
                    confirmationMail: false,
                },
                showmessage: '',
            }
        },
        methods: {
            contact: function () {
                let url = this.route+'/functions/contact';
                const qs = require('qs');
                let contactMes = true;
                axios.post(url,qs.stringify(this.form))
                    .then(function (Response) {
                        contactMes = true;
                    }).catch(function (Error) {
                        contactMes = false;
                });
                this.resetForm();
                this.showContactMessage(contactMes);
            },
            resetForm: function (){
                this.form.name = this.form.mail = this.form.clientMessage = ' ';
            },
            checkForm: function (e) {
                if (this.form.name && this.form.mail && this.form.clientMessage) {
                    e.preventDefault();
                    this.contact();
                }

            },
            showContactMessage: function (contactMes) {
                this.showmessage = contactMes?this.TranslatedText.Sent_Success:this.TranslatedText.Sent_Fail;
                $('#contact-alert').fadeTo(5000, 500).slideUp(500, function(){
                    $("#contact-alert").slideUp(500);
                });
            },
        }
    }
</script>