<template>
    <div>
        <facebook-icon v-if="this.name == 'facebook'" fill-color="blue" :size="parseInt(this.size)"/>
        <linkedin-icon v-else-if="this.name == 'linkedin'" :size="parseInt(this.size)"/>
        <twitter-icon v-if="this.name == 'twitter'" fill-color="blue" :size="parseInt(this.size)"/>
        <instagram-icon v-else-if="this.name == 'instagram'" fill-color="purple" :size="parseInt(this.size)"/>
        <docker-icon v-if="this.name == 'docker'" fill-color="lightblue" :size="parseInt(this.size)"/>
        <gitlab-icon v-else-if="this.name == 'gitlab'" fill-color="red" :size="parseInt(this.size)"/>
    </div>
</template>
<script>
    import FacebookIcon from "vue-material-design-icons/Facebook";
    import LinkedinIcon from "vue-material-design-icons/Linkedin";
    import TwitterIcon from "vue-material-design-icons/Twitter";
    import DockerIcon from "vue-material-design-icons/Docker";
    import GitlabIcon from "vue-material-design-icons/Gitlab";
    import InstagramIcon from "vue-material-design-icons/Instagram";
    export default {
        components: {InstagramIcon, FacebookIcon, LinkedinIcon, TwitterIcon, DockerIcon, GitlabIcon},
        props: {
            'name': {
                required: true,
                type: String
            },
            'size': {
                required: false
            },
        },
    }
</script>