<template>
    <div>
        <a @click="openModal" data-target=".bd-example-modal-lg" style="cursor: pointer;">
            <information-icon fill-color="blue"></information-icon>
            {{this.translated.Information_About_This_Page}}
        </a>
        <div class="modal" tabindex="-1" role="dialog" id="aboutPageModal" data-backdrop="false">
        </div>
    </div>
</template>

<script>
    import InformationIcon from "vue-material-design-icons/Information";
    export default {
        components: {InformationIcon},
        mounted() {
            let jsonTranslatedKeys = JSON.parse(JSON.stringify(this.translateKeys));
            for (let x in jsonTranslatedKeys){
                this.getTranslatedVariables(jsonTranslatedKeys[x]);
            }
        },
        props: {
            route: {
                required: true,
            },
            translateKeys: {
                required: false,
            },
        },
        data: function() {
            return {
                translated: {
                    Message : "Custom Message",
                    Information_About_This_Page : "Info",
                },
            }
        },
        methods: {
            openModal: function(){
                let url = this.route+'/aboutThisPage';
                let container = $("#aboutPageModal");
                axios.get(url)
                    .then(function (Response) {
                        let htmlModal = Response.data;
                        container.html(htmlModal);
                        container.modal();
                    }).catch(function (Error) {

                });
            },
            getTranslatedVariables: function (key) {
                let url = this.route+'/functions/getTranslation/'+key;
                let data = this.translated;
                axios.get(url)
                    .then(Response => {
                        data[key] = _.capitalize(Response.data);
                    }).catch(Error => {
                        data[key] = key;
                    });

            }
        }
    }
</script>