<template>
    <ul class="navbar-nav mr-auto" id="topbarElemnts">
        <li v-for="opcion in this.opcionesMenu" class="nav-item" :class="getclass(opcion)">
            <div v-if="!isCollapsable(opcion)">
                <a class="nav-link" :href="opcion.link" >{{ opcion.name }}<span class="sr-only">(current)</span></a>
            </div>
            <div v-else>
                <a class="nav-link dropdown-toggle" :href="opcion.link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ opcion.name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a v-for="droppableOption in opcion.collapsable" class="dropdown-item" :href="droppableOption.link">{{ droppableOption.name }}</a>
                </div>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        mounted() {
        },
        props: {
            'opcionesMenu': {
                required: true,
                type: Object
            }
        },
        methods: {
            alerta: function (r) {
                alert(r.name);
            },
            getclass: function (opcion) {
                return this.activeClass(opcion)+" "+this.collapsableClass(opcion);
            },
            activeClass: function (opcion) {
                return opcion.selected?'active':'';
            },
            collapsableClass(opcion){
                return opcion.collapsable.length>0?'dropdown':'';
            },
            isCollapsable(opcion) {
                return opcion.collapsable.length>0;
            }
        }
    }
</script>