<template>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a v-for="SkillGroup in this.skillsGroups" class="list-group-item list-group-item-action" :class="isActive(SkillGroup)" :id="nameData(SkillGroup.name)+'-list'" data-toggle="list" :href="'#'+nameData(SkillGroup.name)" role="tab" :aria-controls="SkillGroup.name">{{SkillGroup.name}}</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div v-for="SkillGroup in this.skillsGroups" class="tab-pane fade show" :class="isActive(SkillGroup)" :id="nameData(SkillGroup.name)" role="tabpanel" :aria-labelledby="nameData(SkillGroup.name)+'-list'">
                    <ul class="list-group list-group-flush">
                        <li v-for="Skill in SkillGroup.Skills" class="list-group-item d-flex flex-row flex-nowrap">
                            <strong class="font-weight-bolder flex-column" style="flex: 20%; font-size: 20px">{{ Skill.name }}</strong>
                            <span v-for="stars in 5" class="fa fa-star position-relative flex-column" style="margin-left: 2%" :class="starChecked(stars, Skill.rating)"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
        },
        props: {
            'skillsGroups': {
                required: true,
                type: Object
            }
        },
        methods: {
            isActive(SkillGroup) {
                return (SkillGroup.id == 1)?'active':'';
            },
            nameData(name) {
                let espacio = new RegExp(' ', 'g');
                let convertedName = name.replace(espacio, '-');
                return "list-"+convertedName;
            },
            starChecked(star, rating) {
                return (star > rating)?'':'checked';
            }
        }
    }
</script>