<template>
    <div>
        <div v-for="work in this.works" class="d-flex flex-column flex-md-row justify-content-between mb-5 card container col-12">
            <div class="col-10">
                <h3 class="p-2 pt-3 font-weight-bold"><a :href="work.link" target="_blank">{{ work.companyName }}</a></h3>
                <div class="subheading pb-3 pl-2 font-weight-bold">{{ work.position }}</div>
                <div class="container">
                <p>
                    {{ work.information }}
                    <a v-for="responsability in work.responsabilities">
                        <br/>
                        <check-bold-icon fillColor="green"/> {{ responsability.name }}
                    </a>
                </p>
                </div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">{{ work.start_date }} - {{ work.finish_date }}</span></div>
        </div>
    </div>
</template>

<script>
    import CheckBoldIcon from "vue-material-design-icons/CheckBold";
    export default {
        components: {CheckBoldIcon},
        mounted() {
        },
        props: {
            'works': {
                required: true,
                type: Object
            },
            'TranslatedText': {
                required: false,
            },
        },
        data: function (){
            return {
                TranslatedText: this.TranslatedText
            }
        },
        methods: {
        }
    }
</script>